/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
    /* font-family: Helvetica, Arial, sans-serif;*/
     font-family: 'Open Sans', sans-serif;
}

/* unvisited link */
a:link {
    color: #f9e42e;
    text-decoration:none;
}
a:visited {
    color: #f9e42e;
    text-decoration:none;
}
/* mouse over link */
a:hover {
    color: orange;
    text-decoration:none;
}

.header-left a:link {
  color: white;
  text-decoration: none;
  }
.header-left a:visited {
  color: white;
  text-decoration: none;
}
.header-left a:hover {
  color: yellow;
  text-decoration: none;
}
.readmore:link {
  color: #033048;
}
.readmore:visited {
  color: #033048;
}

.categories a:link {
  color: #033048;
}
.categories a:visited {
  color: #033048;
}
'.categories a:hover {
  font-weight: bold;
}

.learnmore:link {
  color: #033048;
}
.learnmore:visited {
  color: #033048;
}
.learnmore:hover {
  font-weight: bold;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 960px;
  margin: auto;
  background-color: #f0efef;
}

header {
padding-top: 20px;
padding-bottom: 20px;
background-color: #033048;
}
h1 {
  font-size: 40px;
  font-weight: bold;
}
h2 {
  font-size: 35px;
  font-weight: 600;
  color: #033048;
}
h3 {
  font-size: 26px;
  font-weight: 800;
  color: #033048;
  margin: 20px 0 10px 0;
}
.header-left {
  float:left;
  margin-left: 25px;
}
.header-right {
  float:right;
}

nav {
  float: right;
  margin-right: 25px;
  font-weight: 600;
  font-size: 20px;
  padding-top: 15px;
}

nav li {
  display: inline;
  margin: 5px;
}

.main-content {
  float:left;
  width: 700px;
  margin-right: 10px;
  font-weight: light;
  font-size: 24px;
  color: #606161;
  padding: 30px 5px 30px 30px;
}

article {
border-bottom: 2px solid #033048;
padding: 10px 0 10px 0;
margin-left: 30px;
}

article img {
  width: 650px;
  height: auto;
  margin: 10px 0 10px 0;
}

.firstcharacter {float: left; font-size: 75px; line-height: 90px; padding-top: 4px; padding-right: 8px; padding-left: 3px;}

.readmore {
  padding: 20px 0 20px 0;
  float: right;
  color: #033048;
  font-weight: bold;
}

.side-content {
  float:left;
  width: 230px;
  margin: 10px;
  font-weight: light;
  font-size: 24px;
  color: #606161;
  padding: 15px;
}
.side-content img {
  width: 200px;
  height:auto;
  margin-top: 30px;
}
.categories {
  font-weight: light;
  font-size: 24px;
}

.about {
  font-weight: light;
  font-size: 22px;
}
.learnmore {
  font-weight: bold;
}

footer {
width: 100%;
text-align: center;
}
.footer-top{
  background-color: #f9e42e;
  padding: 20px;
}
.footer-top button {
  color: #fff;
  background-color: #033048;
  border: 0;
  border-radius: 4px;
  padding: 4px 20px 4px 20px;
  }
.footer-bottom {
background-color: #121212;
color: #ffffff;
padding: 20px;
}
.footer-logo{
font-size: 26px;
font-weight: bold;
color: #f9e42e;
margin: 10px 0 20px 0;
}

.footer-bottom ul {
  margin-bottom: 30px;
}

.footer-bottom li {
  display: inline;
  padding: 10px;
}

.footer-bottom li .tw {
  width: 21.5px;
  height: 16.5px;
}
.footer-bottom li .fb {
  width: 11.333px;
  height: 24.666px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
